<footer id="contact" class="text-center footer">

  <div class="social-links">
    <div class="row pt-3">

      <div class="col-12 col-md-6 pb-5">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-5b487cfc-f597-46a5-a224-45dfda5f0ce7"></div>
      </div>

      <div class="col-12 col-md-6">
        <p class="head">Connect with me</p>

        <p class="icons-set">

          <a href="mailto:@sonalkushwaha039@gmail.com" add target="_blank">
            <i class="fas fa-envelope fa-2x mr-5"></i>
          </a>

          <a href="https://www.linkedin.com/in/sonal-kushwaha/" add target="_blank">
            <i class="fab fa-linkedin fa-2x mr-5"></i>
          </a>

          <a href="https://twitter.com/sonalsk2306" add target="_blank">
            <i class="fab fa-twitter fa-2x mr-5"></i>
          </a>

          <a href="https://github.com/sonalsk" add target="_blank">
            <i class="fab fa-github fa-2x mr-5"></i>
          </a>

          <a href="https://medium.com/@sonalsk" add target="_blank">
            <i class="fab fa-medium fa-2x mr-3"></i>
          </a>

        </p>
      </div>

    </div>

    <div class="name-date row mt-0">
      <p>
        <i class="fas fa-code"></i> &nbsp;&nbsp; with &nbsp;&nbsp;<i
          class="fas fa-heart"
        ></i
        >&nbsp;&nbsp; by &nbsp;&nbsp;
        <a href="https://www.linkedin.com/in/sonal-kushwaha/" target="_blank">
          <span> Sonal Kushwaha </span>
        </a>
        <br/>
        <span>Last updated on Aug 26, 2021 <br> &copy; 2021 </span>
        <br/>
      </p>
    </div>

  </div>
</footer>
