<div class="profile">
    <div>
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h1 class="site-title">{{ site.title }}</h1>
                <p>
                    I am an undergraduate pursuing my Bachelors in Information Technology. I am an enthusiastic learner with creative insights and I never shy away from trying out new things and implementing them. I enjoy solving puzzles and taking part in coding competitions. My interests are web development and app development and I enjoy working with design as well.
                </p>
            </div>

            <div class="col-md-2"></div>
            
            <div class="col-md-4 profile-picture">
                <img src="./assets/img/Sonal.jpeg" alt="" class="img-fluid d-none d-md-block about-img">
            </div>

        </div>
    </div>
</div>
