<h2 id="skills" class="section-heading"> Skills </h2>

<!-- <div class="animated animatedFadeInUp fadeInUp clients">

  <div class="container card-container-skills">

      {% for item in site.data.skills %}
        <div class="icon-skills">
          <img src="./assets/img/skills/{{ item.img }}">
        </div>
      {% endfor %}

  </div>
</div> -->

<div class="animated animatedFadeInUp fadeInUp clients">
  <div class="clients-slider swiper-container">
    <div class="swiper-wrapper align-items-center">
    {% for item in site.data.skills %}
      <div class="swiper-slide">
        <img src="assets/img/skills/{{ item.img }}" class="img-fluid" alt="">
      </div>
    {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>