@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import "navbar";
@import "profile";
@import "page";
@import "footer";
@import "experience";
@import "project";
@import "animation";
@import "skills";
@import "dark-mode";
@import "community";

:root {
  --primaryColor: #413C69;
  --line: #acaac2;
  --cardColor: white;
  --background: #EEEEEE;
  --text: #EEEEEE;
  --font-navbar: "Poppins", serif;
  --font-size: 1.125rem;
  --line-height: 1.5;
  --secondary-color: #fff;
  --line-color: #413C69;
  --max-width: 1100px;
}

body {
  background-color: var(--background);
}

.section-heading {
  font-size: 40px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
  text-align: center;
}

.card-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

.card-container:hover a {
  text-decoration: none;
  color: inherit;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 22.2rem;
  margin: 20px 30px;
  
  background-color: var(--cardColor);
  
  border-radius: 0.375rem;
  padding: 1.5em;
  font-size: 1.2em;
  
  transition: all 0.5s;
}

.card:hover {
  box-shadow: 0px 0px 10px 2px #ddd;
}

.icon {
  width: 6rem;
  height: 6rem;
  
  padding: 0.5rem;
  padding-left: 0;
  padding-top: 0;

  img {
    width: 100%;
  }

}

.info {
  color: black;
  p {
    margin-top: 5px;
    margin: 0px;
    text-align: left;
  }

  .title {
    font-size: 500;
    font-weight: bold;
  }

  .location {
    font-size: medium;
    font-weight: 400;
  }

  .major {
    font-size: medium;
    font-weight: bold;
  }

  .dates {
    font-size: small;
    color: #404040;
  }
}
