.footer {
    background-color: var(--primaryColor);
    color: var(--text);

    margin-top: 6rem;
    margin-bottom: 0;
    padding-bottom: 1rem;

    p {
        margin-bottom: 0;
    }

    a {
        color: var(--text);
    }

    a:hover {
        color: var(--line-color);
    }
}

.social-links {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.social-links a:hover{
    color: var(--text);
}

.name-date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.footer .social-links .head {
    font-size: x-large;
    font-weight: bold;
}

.footer .icons-set {
    margin-top: 1rem;
}