.nav-bar {
  background-color: var(--primaryColor);

  font-family: var(--font-navbar);
  font-size: var(--font-size);
  font-weight: 700 !important;

  width: 100%;
  padding: 10px 14%;
  line-height: var(--line-height);
  
  align-items: center;
}

.nav-logo {
  height: 30px;
  margin: auto;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo img {
  width: 70px;
}
